DATABASE_URL="postgresql://car:car@localhost:5432/car?schema=public"

DB_HOST=localhost
DB_PORT=5432
DB_USER=car
DB_PASSWORD=car
DB_NAME=car

REDIS_HOST=localhost
REDIS_PORT=6379

PHOTO_EDITOR_QUEUE_NAME=photo-editor

STORAGE_PORT=9000
STORAGE_USER=minioadmin
STORAGE_PASSWORD=minioadmin
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_BUCKET_NAME=car
STORAGE_ENDPOINT_PUBLIC=http://localhost:9000
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=us-east-1

NODE_ENV=development

JWT_REFRESH_SECRET_CLIENT=r4t5y6
JWT_ACCESS_SECRET_CLIENT=q1w2e3
JWT_ACCESS_TTL_SECONDS_CLIENT=900
JWT_REFRESH_TTL_SECONDS_CLIENT=604800

JWT_REFRESH_SECRET_STAFF=r4t5y6
JWT_ACCESS_SECRET_STAFF=q1w2e3
JWT_ACCESS_TTL_SECONDS_STAFF=900
JWT_REFRESH_TTL_SECONDS_STAFF=604800

PORT=3000